<div #carouselRef id="carousel" class="testimonials">
  <h2 class="text-center">Testimonials</h2>

    <div class="container">

      <div class="owl-carousel owl-theme">
        <div>
          <div class="testimonials__item">
            <div class="resource__text">
              <a target="_blank" href="https://www.nyacasino.nu/">nyacasino.nu</a>
              <p>
                A mystical new casino with a professional
                team, answering all queries quickly
                and detailed.
              </p>
            </div>
            <img src="assets/img/testimonials.svg" alt="quote">
          </div>
        </div>
        <div>
          <div class="testimonials__item">
            <div class="resource__text">
              <a target="_blank" href="https://www.spelsidor.se/">spelsidor.se</a>
              <p>
                We have just started to work with
                Zodiacu and the results have been
                Amazing so far. The conversion is great
                and our visitors love the brand. The team
                behind Zodiacu are easy to work with
                and Mike is a great affiliate manager.
                HIghly recommended!
              </p>
            </div>
            <img src="assets/img/testimonials.svg" alt="quote">
          </div>
        </div>
        <div>
          <div class="testimonials__item">
            <div class="resource__text">
              <a target="_blank" href="https://www.slotsia.com/">slotsia.com</a>
              <p>
                Slotsia have been promoting Zodiacu
                since they first launched their new casino
                site. We have always received great
                support and really nice feedback from
                our players.
              </p>
            </div>
            <img src="assets/img/testimonials.svg" alt="quote">
          </div>
        </div>
        <div>
          <div class="testimonials__item">
            <div class="resource__text">
              <a target="_blank" href="https://www.nyacasino.nu/">nyacasino.nu</a>
              <p>
                A mystical new casino with a professional
                team, answering all queries quickly
                and detailed.
              </p>
            </div>
            <img src="assets/img/testimonials.svg" alt="quote">
          </div>
        </div>
        <div>
          <div class="testimonials__item">
            <div class="resource__text">
              <a target="_blank" href="https://www.spelsidor.se/">spelsidor.se</a>
              <p>
                We have just started to work with
                Zodiacu and the results have been
                Amazing so far. The conversion is great
                and our visitors love the brand. The team
                behind Zodiacu are easy to work with
                and Mike is a great affiliate manager.
                HIghly recommended!
              </p>
            </div>
            <img src="assets/img/testimonials.svg" alt="quote">
          </div>
        </div>
        <div>
          <div class="testimonials__item">
            <div class="resource__text">
              <a target="_blank" href="https://www.slotsia.com/">slotsia.com</a>
              <p>
                Slotsia have been promoting Zodiacu
                since they first launched their new casino
                site. We have always received great
                support and really nice feedback from
                our players.
              </p>
            </div>
            <img src="assets/img/testimonials.svg" alt="quote">
          </div>
        </div>
      </div>

    </div>
</div>
