<section class="register password-reset">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="input-wrap" *ngIf="isFirstStep">
          <form #formReset="ngForm" [formGroup]="resetData" (ngSubmit)="onSubmitReset(formReset.value)">
            <!--*ngIf="isFirstStep"-->
            <h2 class="text-center">Reset Password</h2>
            <div class="input-wrap__item has-success">
              <input class="input-field" name="email" required [formControl]="resetData.controls['email']" type="text">
              <div class="input-label">E-mail</div>
            </div>
            <div class="input-wrap__item has-success">
              <input class="input-field" name="username" required [formControl]="resetData.controls['username']"
                     type="text">
              <div class="input-label">Username</div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">
              Reset password
            </button>
          </form>
        </div>


        <div class="input-wrap" *ngIf="!isFirstStep">
          <form #formSet="ngForm" [formGroup]="setData" (ngSubmit)="onSubmitSet(formSet.value)">
            <h2 class="text-center">Set Password</h2>
            <div class="input-wrap__item has-success">
              <div *ngIf="setData.controls['password'].touched && !setData.controls['password'].valid">
                Password validation error
              </div>
              <input class="input-field" name="password" required [formControl]="setData.controls['password']" type="password">
              <div class="input-label">New Password</div>
            </div>
            <div class="input-wrap__item has-success">
              <div *ngIf="setData.controls['passwordConfirm'].touched && !setData.controls['passwordConfirm'].valid">
                Password confirm validation error
              </div>
              <input class="input-field" name="passwordConfirm" required
                     [formControl]="setData.controls['passwordConfirm']" type="password">
              <div class="input-label">New Password Confirm</div>
            </div>

            <button class="btn btn-primary btn-block" type="submit">
              Set password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
