
<section class="header-main">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="header-content">
        <div>
          <h1>Zodiacu Affiliates</h1>
          <p>Start earning with outstanding online casino product <br> for Scandinavian and DACH markets</p>
        </div>
        <div>
          <button [routerLink]="['/sign-up']" class="btn btn-pink btn__create-account"> Create a free account</button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="benefits" id="benefits" #benefitsRef>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center benefits__heading">
        <h2>Meet Zodiacu Casino</h2>
        <p>Please welcome new EU-facing brand with engaging gamification
          for players, launched in November 2017  </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-xl-3 benefits__wrap">
        <div class="benefits__item">
          <div><img class="img-fluid" src="assets/img/benefits/icon-1.svg" alt="benefits"></div>
          <span>License</span>
          <p>Strong licenses Malta Gaming Authority licenses. UK to be obtained in Q4 2018</p>
        </div>

      </div>

      <div class="col-md-4 col-xl-3 benefits__wrap">
        <div class="benefits__item">
          <div><img class="img-fluid" src="assets/img/benefits/icon-2.svg" alt="benefits"></div>
          <span>Languages</span>
          <p>English, Swedish, German,
            Norvegian, Finnish</p>
        </div>
      </div>

      <div class="col-md-4 col-xl-3 benefits__wrap">
        <div class="benefits__item">
          <div><img class="img-fluid" src="assets/img/benefits/icon-3.svg" alt="benefits"></div>
          <span>Game Providers</span>
          <p>Netent, Microgaming, Betsoft, Endorphina, Habanero, MrSlotty, Quickspin, NoLimitCity, Playson, Wazdan, Yggdrasil</p>
        </div>
      </div>

      <div class="col-md-4 col-xl-3 benefits__wrap">
        <div class="benefits__item">
          <div><img class="img-fluid" src="assets/img/benefits/icon-4.svg" alt="benefits"></div>
          <span>Currencies</span>
          <p>EUR, SEK, NOK, USD, RUR</p>
        </div>
      </div>

      <div class="col-md-4 col-xl-3 benefits__wrap">
        <div class="benefits__item">
          <div><img class="img-fluid" src="assets/img/benefits/icon-5.svg" alt="benefits"></div>
          <span>Payment Methods</span>
          <p>Visa/Mastercard, Skrill, Trustly, Neteller, Bank Transfer, Entercash, Ecopayz, Paysafecard, SOFORT, Zimpler, YandexMoney, Webmoney, Qiwi</p>
        </div>
      </div>

      <div class="col-md-4 col-xl-3 benefits__wrap">
        <div class="benefits__item">
          <div><img class="img-fluid" src="assets/img/benefits/icon-6.svg" alt="benefits"></div>
          <span>Support</span>
          <p>In Swedish, English via chat and email</p>
        </div>
      </div>

      <div class="col-md-4 col-xl-3 benefits__wrap">
        <div class="benefits__item">
          <div><img class="img-fluid" src="assets/img/benefits/icon-7.svg" alt="benefits"></div>
          <span>Over 1000 Games</span>
          <p>And new ones being added
            continuously</p>
        </div>
      </div>

      <div class="col-md-4 col-xl-3 benefits__wrap">
        <div class="benefits__pdf">
          <div><img class="img-fluid" src="assets/img/benefits/icon-pdf.svg" alt="benefits"></div>
          <p>Presentation</p>
          <a href="/Users/a1/Documents/zodiacu-affiliates/src/assets/img/benefits/icon-pdf.svg" target="_self" download>
            <span>Download</span></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cooperate" id="cooperate" #cooperateRef>
 <div class="container">
   <h2 class="text-center">Why work with us?</h2>
   <div class="row">
     <div class="col-md-12 col-lg-4">
       <div class="cooperate__item">
         <div><img src="assets/img/cooperate/globe.svg" alt="globe"></div>
         <div>
           <span>Personal touch</span>
           <p>Special offers, branded retention campaigns or specific commission
             accounting: whatever you may need to push up your revenue,
             we’re up to provide it to you</p>
         </div>
       </div>
     </div>

     <div class="col-md-12 col-lg-4">
       <div class="cooperate__item">
         <div><img src="assets/img/cooperate/statistic.svg" alt="statistic"></div>
         <div>
           <span>Transparent affiliate stats</span>
           <p>Our affiliate backend empowers you
             to track a variety of metrics, so you
             can analyze and affect your sales
             funnel like a boss</p>
         </div>
       </div>
     </div>

     <div class="col-md-12 col-lg-4">
       <div class="cooperate__item">
         <div><img src="assets/img/cooperate/files.svg" alt="files"></div>
         <div>
           <span>Powerful marketing  materials</span>
           <p>There’s a dedicated team to help
             you earn more with Zodiacu.
             Graphics, mailers, landing pages -
             whatever you need to bring grist
             to the mill</p>
         </div>
       </div>
     </div>
   </div>
   <div class="text-center">
     <button [routerLink]="['/sign-up']" class="btn btn__create-account"> Create a free account </button>
   </div>
 </div>
</section>

<section class="commissions" id="commissions" #commissionsRef>
 <div class="container">

   <div class="row justify-content-center">
     <div class="col-10 text-center">
       <h2>Commissions</h2>
       <p>Here in Zodiacu we understand that every traffic acquisition model requires tailored commission.
         Use progressive revenue share plan to raise your percentage accordingly to monthly FTD amount,
         or contact our managers to negotiate your exclusive conditions</p>
     </div>
     <div class="col-md-12 commissions__wrap">
       <div class="commissions__first">
           <div class="commissions__item">
              <div><img src="assets/img/commissions/icon-1.svg" alt="commission"></div>
              <div>
                <p class="digits">25%</p>
                <span class="subtitle">0-10 players</span>
              </div>
           </div>
           <div class="commissions__item">
             <div><img src="assets/img/commissions/icon-2.svg" alt="commission"></div>
             <div>
               <p class="digits">35%</p>
               <span class="subtitle">21-35 players</span>
             </div>
           </div>
           <div class="commissions__item">
             <div><img src="assets/img/commissions/icon-3.svg" alt="commission"></div>
             <div>
               <p class="title">CPA, hybrid</p>
               <span class="subtitle">Tailored</span>
             </div>
           </div>

       </div>
       <div class="commissions__second">

           <div class="commissions__item">
             <div><img src="assets/img/commissions/icon-4.svg" alt="commission"></div>
             <div>
               <p class="digits">30%</p>
               <span class="subtitle">11-12 players</span>
             </div>
           </div>
           <div class="commissions__item">
             <div><img src="assets/img/commissions/icon-5.svg" alt="commission"></div>
             <div>
                 <p class="digits">40%</p>
                 <span class="subtitle">36+ players</span>
             </div>
           </div>
           <div class="commissions__item">
             <div><img src="assets/img/commissions/icon-6.svg" alt="commission"></div>
             <div>
               <p class="title">5% Sub-affiliate</p>
               <p class="subtitle">Benefit from your network</p>
             </div>
           </div>

         </div>
     </div>

   </div>
 </div>
</section>

<section class="start" #startRef id="start">
  <div class="container">
    <h2 class="text-center">Getting started</h2>
    <p class="text-center start__subtitle">There’s no better time to begin than now.<br>
      Get in touch to have a smooth and vigorous blast-off</p>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="start__item">

         <div class="start__icon">
           <img src="assets/img/start/one.svg" alt="one">
           <div class="start__icon-line">
           </div>
         </div>
          <div>
            <p class="text-center">
              Open an affiliates account.<br>
              Together we will make sure
              that you get the most out
              of your traffic
            </p>
          </div>

        </div>

      </div>

      <div class="col-sm-6 col-md-4">
        <div class="start__item">

          <div class="start__icon">
            <img src="assets/img/start/two.svg" alt="two">
            <div class="start__icon-line">
            </div>
          </div>
          <div>
            <p class="text-center">
              Get your tracking links<br>
              and creatives to start
              advertising
            </p>
          </div>

        </div>

      </div>

      <div class="col-sm-12 col-md-4">
        <div class="start__item">
          <div class="start__icon">
            <img src="assets/img/start/three.svg" alt="three">
          </div>
          <div>
            <p class="text-center">
              Check-out a wide range of<br>
              metrics in our backend and
              enjoy monthly payouts
            </p>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>

<app-gallery></app-gallery>

<section #contactsRef id="contacts" class="contact-us">
  <div class="container">
    <h2 class="text-center">Contact Us</h2>
    <p class="text-center contact-us__subtitle">Affiliates of Zodiacu has their personal oracles - our managers.<br>
      Let us know once you need some glorious assistance</p>

    <div class="row">
      <div class="col-md-6">
        <div class="contact-us__box">
          <div class="contact-us__photo"><img src="assets/img/mike.png" alt="Mike B."></div>
          <div class="description">
            <div class="description__name">Mike B.</div>
            <div class="description__position">Affiliate Manager</div>
            <div class="description__email">
              <a href="mailto:mb@zodiacu.com?subject=From Zodiacu Affiliates">mb@zodiacu.com</a>
            </div>
            <div class="description__skype">
              <p><a href="skype:mb_3245?chat">live:mb_3245</a></p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="contact-us__box">
          <div class="contact-us__photo"><img src="assets/img/alex.png" alt="Mike B."></div>
          <div class="description">
            <div class="description__name">Alex H.</div>
            <div class="description__position">Affiliate Manager</div>
            <div class="description__email">
              <a href="mailto:ah@zodiacu.com?subject=From Zodiacu Affiliates">ah@zodiacu.com</a>
            </div>
            <div class="description__skype">
              <p><a href="skype:manager.harrison?chat">live:manager.harrison</a></p>
            </div>
          </div>

      </div>
    </div>
  </div>
  </div>

</section>
