
<footer id="faq">
  <!--<div class="container">-->
    <!--<div class="row justify-content-center">-->
      <!--<div class="col-md-11">-->

        <!--<div class="footer-nav">-->
          <!--<a href="https://zodiacu.com/blog">Blog</a>-->
          <!--<a href="#">Responsible Gaming</a>-->
          <!--<a href="https://zodiacu.com/">Play Zodiacu</a>-->
          <!--<a href="https://zodiacu.com/faq">FAQ</a>-->
          <!--<a [routerLink]="['/terms-conditions']">Terms&Conditions</a>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="everymatrix">
     <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>
          The website is operated and managed by EveryMatrix Ltd, a company bearing registration number C44411, and having its registered address
          at Level 5, Suite 1A, Portomaso Business Tower, Vjal Portomaso, St. Julians, STJ 4012. , Malta. EveryMatrix Ltd. is licensed and regulated
          by virtue of a Class 2 license numbered MGA/CL2/497/2008 issued on the 27th of April 2012 by the Malta Gaming Authority (www.MGA.org.mt).
          Specific casino games content on this website are provided by EveryMatrix Ltd., licensed and regulated by the Malta Gaming Authority
          (www.mga.org.mt) in virtue of a Class 1 on 4 license numbered MGA/CL1/497/2010 issued on the 2nd of May 2012.
          <br>
          The Casino games are provided by EveryMatrix N.V. a limited liability company incorporated under the laws of Curacao, bearing company
          registration number 108354 and having its registered address at Dr. Hugenholtzweg Z/N, Curacao and is licensed and regulated in virtue of
          license number No. 8048/JAZ granted by the Government of Curacao.
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>The Casino games are provided by EveryMatrix N.V. a limited liability company incorporated under the laws of Curacao, bearing company
          registration number 108354 and having its registered address at Dr. Hugenholtzweg Z/N, Curacao and is licensed and regulated in virtue
          of license number No. 8048/JAZ granted by the Government of Curacao.
        </p>
        <div class="everymatrix__partners">
          <img class="mr-3 pt-1" src="assets/img/footer/mga.png" alt="mga">
          <img class="pt-1" src="assets/img/footer/gambling.png" alt="gambling">
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="payments">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">

          <div class="d-flex flex-wrap justify-content-around">
            <img src="assets/img/footer/payments/01-visa.svg" alt="payment system">
            <img src="assets/img/footer/payments/02-mastercard.svg" alt="payment system">
            <img src="assets/img/footer/payments/03-maestro.svg" alt="payment system">
            <img src="assets/img/footer/payments/04-microgaming.svg" alt="payment system">
            <img src="assets/img/footer/payments/05-neteller.svg" alt="payment system">
            <img src="assets/img/footer/payments/06-skrill.svg" alt="payment system">
            <img src="assets/img/footer/payments/07-trustly.svg" alt="payment system">
            <img src="assets/img/footer/payments/08-netent.svg" alt="payment system">
            <img src="assets/img/footer/payments/09-zimpler.svg" alt="payment system">
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="copyright d-flex justify-content-center">
    <p class="text-center">Gambling can be addictive. Play Responsibly <br>
      Zodiacu 2018 ©</p>
  </div>
</footer>
